/* ++++++Body++++++ */
body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* +++++++++Header+++++++++++ */
header {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  padding-bottom: 0;
  min-width: none;
  flex-basis: content;
}
header img {
  width: 150px;
}
header nav a {
  text-decoration: none;
  color: grey;
  display: none;
}

header nav a:last-child {
  color: rgb(234, 133, 150);
}

header .fa-solid {
  font-size: 25px;
}
/* +++++++++++top_section++++++++++ */
.top_section {
  padding: 5%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.top_section article h5 {
  color: rgb(234, 133, 150);
  margin-bottom: 0;
}
.top_section article h1 {
  margin-bottom: 0;
  font-weight: 900;
}
.top_section article p {
  color: grey;
  line-height: 20px;
  font-size: 12px;
}
.top_section article button {
  background-color: white;
  border-color: rgb(226, 137, 43);
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
}
.top_section img {
  width: auto;
  margin-left: -60px;
  margin-top: -30px;
  max-width: 300px;
  overflow: auto;
}
/* ++++++BANNER1++++ */
.banner1 {
  background-image: url(./img/background.svg);
  background-size: cover;

  padding: 40px 10px 10px 20px;
  background-position: center;
}
.banner1 h2 {
  font-size: 30px;
}
.banner1 p {
  color: rgb(69, 66, 66);
}
/* ++++++++++++BANNER2++++++ */
.banner2 img:nth-child(4) {
  display: none;
}
.banner2 {
  display: grid;
  place-items: center;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.banner2 img {
  width: 100%;
}
/* ++++++++++MID_SECTION++++++++ */
.mid_section {
  padding: 0 5%;
}
.mid_section p {
  color: grey;
}
.mid_section p a {
  color: grey;
}
/* ++++++STORE+++++++ */

table {
  width: 290px;
  background-color: rgb(236, 232, 232);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}
table tr td {
  text-align: left;
  color: grey;
  font-size: 12px;
}
table tr td:last-child {
  text-align: right;
}
table tr th:first-child {
  text-align: left;
}
table tr th:last-child {
  text-align: right;
  display: flex;
  justify-content: right;
}
.orange {
  color: orange;
  font-weight: 800;
  font-size: 10px;
}
.store {
  display: flex;
  padding-left: 5%;
  gap: 5%;
  padding-top: 5%;
  overflow: scroll;
}
/* +++++++BOT_SECTION++++++ */

.bot_section {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 5%;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bot_section article h5 {
  color: rgb(234, 133, 150);
  margin-bottom: 0;
}
.bot_section article h1 {
  margin-bottom: 0;
  line-height: 50px;
  font-weight: 900;
}
.bot_section article p {
  color: grey;
  line-height: 20px;
  font-size: 12px;
}
.bot_section article button {
  background-color: white;
  border-color: rgb(226, 137, 43);
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
}
.bot_section img {
  width: auto;
  max-width: 200px;
  margin-top: 50px;
  overflow-x: auto;
  margin-bottom: -50px;
  z-index: -1;
}
/* +++++++++++++SOCIAL+++++++++++ */
.social {
  padding-left: 5%;
  padding-top: 5%;
  background-color: white;
}
.social img {
  width: 150px;
}
/* +++++++++++NAVIGATION++++++++ */
.navigation div h4 {
  padding-bottom: 5px;
}
.navigation {
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* +++++++++FOOTER+++++++++++ */
footer p:last-child {
  display: none;
}
footer {
  padding: 5%;
  padding-bottom: 10%;
  padding-top: 0;
}
/* ==================================== */
/* ++++++++++MEDIA+++++++++++ */
/* ===================================== */
@media only screen and (min-width: 768px) {
  /* +++++++++Header+++++++++++ */
  header {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    padding-bottom: 0;
    min-width: none;
    flex-basis: content;
  }
  header img {
    width: 150px;
  }
  header nav {
    display: flex;
    gap: 15px;
  }
  header nav a {
    text-decoration: none;
    color: grey;
    display: flex;
  }

  header nav a:last-child {
    color: rgb(234, 133, 150);
  }

  header .fa-solid {
    font-size: 25px;
    display: none;
  }
  /* +++++++++++top_section++++++++++ */
  .top_section {
    padding: 5%;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .top_section article h5 {
    color: rgb(234, 133, 150);
    margin-bottom: 0;
  }
  .top_section article h1 {
    margin-bottom: 0;
    font-weight: 900;
  }
  .top_section article p {
    color: grey;
    line-height: 20px;
    font-size: 12px;
  }
  .top_section article button {
    background-color: white;
    border-color: rgb(226, 137, 43);
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
  }
  .top_section img {
    width: auto;
    margin: auto;
    max-width: 300px;
    overflow: auto;
  }
  /* ++++++BANNER1++++ */
  .banner1 {
    background-image: url(./img/background.svg);
    border-radius: 10px;
    margin: 5%;

    padding: 40px 10px 10px 20px;
    background-position: center;
  }
  .banner1 h2 {
    font-size: 30px;
  }
  .banner1 p {
    color: rgb(69, 66, 66);
  }
  /* ++++++++++++BANNER2++++++ */
  .banner2 img:nth-child(4) {
    display: inline;
  }
  .banner2 {
    display: grid;
    place-items: center;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 5%;
    padding: 0;
  }
  .banner2 img {
    width: 100%;
  }
  /* ++++++++++MID_SECTION++++++++ */
  .mid_section {
    padding: 0 5%;
    padding-top: 5%;
  }
  .mid_section p {
    color: grey;
  }
  .mid_section p a {
    color: grey;
  }
  /* ++++++STORE+++++++ */

  table {
    width: 100%;
    background-color: rgb(236, 232, 232);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
  }
  table tr td {
    text-align: left;
    color: grey;
    font-size: 12px;
  }
  table tr td:last-child {
    text-align: right;
  }
  table tr th:first-child {
    text-align: left;
  }
  table tr th:last-child {
    text-align: right;
    display: flex;
    justify-content: right;
  }
  .orange {
    color: orange;
    font-weight: 800;
    font-size: 10px;
  }
  .store {
    width: 90%;
    display: flex;
    overflow: visible;
  }
  .store article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100px;
  }
  /* +++++++BOT_SECTION++++++ */

  .bot_section {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 5%;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .bot_section article h5 {
    color: rgb(234, 133, 150);
    margin-bottom: 0;
  }
  .bot_section article h1 {
    margin-bottom: 0;
    line-height: 50px;
    font-weight: 900;
  }
  .bot_section article p {
    color: grey;
    line-height: 20px;
    font-size: 12px;
  }
  .bot_section article button {
    background-color: white;
    border-color: rgb(226, 137, 43);
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
  }
  .bot_section img {
    width: auto;
    padding-left: 100px;
    max-width: 200px;
    margin-top: 50px;
    overflow-x: auto;
    margin-bottom: -50px;
    z-index: -1;
  }
  .bot_section article {
    display: inline;
    margin-top: 25%;
    margin-bottom: 25%;
  }
  /* +++++++++++++SOCIAL+++++++++++ */
  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    padding-left: 0;
    padding-top: 0;
    background-color: white;
  }
  .social img {
    width: 150px;
  }
  /* +++++++++++NAVIGATION++++++++ */
  .navigation div h4 {
    padding-bottom: 5px;
  }
  .navigation {
    background-color: white;
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .socnav {
    display: grid;
    background-color: white;
    padding: 5%;
    grid-template-columns: 1fr 1fr;
  }
  /* +++++++++FOOTER+++++++++++ */
  footer p:last-child {
    display: block;
  }
  footer {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    padding-bottom: 10%;
    padding-top: 0;
  }
}
